circabc-backend/source/wsdl/circabc-authentication-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:auth="http://www.cc.cec/circabc/ws/service/authentication/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="circabc-authentication-service" targetNamespace="http://www.cc.cec/circabc/ws/service/authentication/1.0">
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="http://www.cc.cec/circabc/ws/service/authentication/1.0" xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="startSession">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string"/>
						<element name="ecasProxyTicket" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="startSessionResponse">
				<complexType>
					<sequence>
						<element name="startSessionReturn" type="auth:AuthenticationResult"/>
					</sequence>
				</complexType>
			</element>
			<complexType name="AuthenticationResult">
				<sequence>
					<element name="username" nillable="false" type="xsd:string"/>
					<element name="ticket" nillable="false" type="xsd:string"/>
					<element name="sessionid" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<element name="AuthenticationResult" type="auth:AuthenticationResult"/>
			<complexType name="AuthenticationFault">
				<sequence>
					<element name="errorCode" type="xsd:int"/>
					<element name="message" type="xsd:string"/>
				</sequence>
			</complexType>
			<element name="AuthenticationFault" type="auth:AuthenticationFault"/>
		</schema>
	</wsdl:types>
	<wsdl:message name="startSessionRequest">
		<wsdl:part name="parameters" element="auth:startSession"/>
	</wsdl:message>
	<wsdl:message name="startSessionResponse">
		<wsdl:part name="parameters" element="auth:startSessionResponse"/>
	</wsdl:message>
	<wsdl:message name="AuthenticationFault">
		<wsdl:part name="fault" element="auth:AuthenticationFault"/>
	</wsdl:message>
	<wsdl:portType name="CircabcAuthenticationServiceSoapPort">
		<wsdl:operation name="startSession">
			<wsdl:input name="startSessionRequest" message="auth:startSessionRequest"/>
			<wsdl:output name="startSessionResponse" message="auth:startSessionResponse"/>
			<wsdl:fault name="AuthenticationFault" message="auth:AuthenticationFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CircabcAuthenticationServiceSoapBinding" type="auth:CircabcAuthenticationServiceSoapPort">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="startSession">
			<wsdlsoap:operation soapAction="http://www.cc.cec/circabc/ws/service/authentication/1.0/startSession"/>
			<wsdl:input name="startSessionRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="startSessionResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AuthenticationFault">
				<wsdlsoap:fault name="AuthenticationFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CircabcAuthenticationService">
		<wsdl:documentation>Provides simple authentication capability.
		</wsdl:documentation>
		<wsdl:port name="CircabcAuthenticationService" binding="auth:CircabcAuthenticationServiceSoapBinding">
			<wsdlsoap:address location="http://localhost:8080/alfresco/api/CircabcAuthenticationService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
