circabc-resources/circa-to-bc/source/java/alfresco/extension/migration/UsersSchema.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema targetNamespace="https://circabc.europa.eu/Import/UsersSchema/1.0" xmlns:user="https://circabc.europa.eu/Import/UsersSchema/1.0" xmlns:node="https://circabc.europa.eu/Import/NodesSchema/1.0"  xmlns:props="https://circabc.europa.eu/Import/PropertiesSchema/1.0" xmlns:iso="https://circabc.europa.eu/Import/LanguagesSchema/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">	<xs:import namespace="https://circabc.europa.eu/Import/LanguagesSchema/1.0" schemaLocation="LanguagesSchema.xsd"/>	<xs:import namespace="https://circabc.europa.eu/Import/PropertiesSchema/1.0" schemaLocation="PropertiesSchema.xsd"/>	<xs:import namespace="https://circabc.europa.eu/Import/NodesSchema/1.0" schemaLocation="NodesSchema.xsd"/>	<xs:simpleType name="mailAddress">		<xs:restriction base="xs:string">			<xs:whiteSpace value="collapse"/>			<xs:pattern value="([^&#64;])+@([^&#64;])+"/>		</xs:restriction>	</xs:simpleType>	<xs:element name="persons" type="user:persons">		<xs:unique name="unique_username">			<xs:selector xpath="./*"/>			<xs:field xpath="user:userId"/>		</xs:unique>	</xs:element>	<xs:element name="person" type="user:person"/>	<xs:complexType name="persons">		<xs:sequence>			<xs:element ref="user:person" minOccurs="0" maxOccurs="unbounded"/>		</xs:sequence>	</xs:complexType>	<xs:complexType name="person">		<xs:complexContent>			<xs:extension base="node:node">				<xs:sequence>					<xs:group ref="user:identity"/>					<xs:group ref="user:contactInformation" minOccurs="0"/>					<xs:group ref="user:userOptions" minOccurs="0"/>				</xs:sequence>			</xs:extension>		</xs:complexContent>	</xs:complexType>	<xs:group name="identity">		<xs:sequence>			<xs:element name="userId" type="user:userId"/>
			<xs:element name="password" type="user:password" minOccurs="0" />			<xs:element name="firstName" type="user:firstName" minOccurs="0"/>			<xs:element name="lastName" type="user:lastName" minOccurs="0"/>			<xs:element name="email" type="user:email"/>		</xs:sequence>	</xs:group>	<xs:group name="contactInformation">		<xs:sequence>			<xs:element name="title" type="user:title" minOccurs="0"/>			<xs:element name="organisation" type="user:organisation" minOccurs="0"/>			<xs:element name="phone" type="user:phone" minOccurs="0"/>			<xs:element name="postalAddress" type="user:postalAddress" minOccurs="0"/>			<xs:element name="description" type="user:description" minOccurs="0"/>			<xs:element name="fax" type="user:fax" minOccurs="0"/>			<xs:element name="urlAddress" type="user:urlAddress" minOccurs="0"/>		</xs:sequence>	</xs:group>	<xs:group name="userOptions">		<xs:sequence>			<xs:element name="contentLanguageFilter" type="user:contentLanguageFilter" minOccurs="0"/>			<xs:element name="interfaceLanguage" type="user:interfaceLanguage" default="en" minOccurs="0"/>			<xs:element name="globalNotification" type="user:globalNotification" default="true" minOccurs="0"/>			<xs:element name="personalInformation" type="user:personalInformation" default="false" minOccurs="0"/>		</xs:sequence>	</xs:group>	<xs:simpleType name="userId">		<xs:restriction base="props:stringProperty"/>	</xs:simpleType>
	<xs:simpleType name="password">
		<xs:restriction base="props:stringProperty"/>
	</xs:simpleType>	<xs:simpleType name="firstName">		<xs:restriction base="props:stringProperty"/>	</xs:simpleType>	<xs:simpleType name="lastName">		<xs:restriction base="props:stringProperty"/>	</xs:simpleType>	<xs:simpleType name="email">		<xs:restriction base="user:mailAddress"/>	</xs:simpleType>	<xs:simpleType name="title">		<xs:restriction base="props:stringProperty"/>	</xs:simpleType>	<xs:simpleType name="organisation">		<xs:restriction base="props:stringProperty"/>	</xs:simpleType>	<xs:simpleType name="phone">		<xs:restriction base="props:stringProperty"/>	</xs:simpleType>	<xs:simpleType name="postalAddress">		<xs:restriction base="props:stringProperty"/>	</xs:simpleType>	<xs:simpleType name="description">		<xs:restriction base="props:stringProperty"/>	</xs:simpleType>	<xs:simpleType name="fax">		<xs:restriction base="props:stringProperty"/>	</xs:simpleType>	<xs:simpleType name="urlAddress">		<xs:restriction base="props:stringProperty"/>	</xs:simpleType>	<xs:simpleType name="contentLanguageFilter">		<xs:restriction base="iso:ISO639-1"/>	</xs:simpleType>	<xs:simpleType name="interfaceLanguage">		<xs:restriction base="iso:ISO639-1"/>	</xs:simpleType>	<xs:simpleType name="globalNotification">		<xs:restriction base="xs:boolean"/>	</xs:simpleType>	<xs:simpleType name="personalInformation">		<xs:restriction base="xs:boolean"/>	</xs:simpleType>
</xs:schema>